/*Import extra font family*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;700&family=Montserrat:wght@300;700&family=Nanum+Pen+Script&display=swap');


.main-header {
  height: 100vh;
  width: 100vw;
  /* background: url("images/desert-road-bending-left.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-color: transparent;
  background-position: center;
  border-radius: 0 0 10px 10px;
  /* filter: sepia(30%) */
}

.welcome-box h3 {
  color: #98BBA5;
  font-size: 150%;
  font-family: 'Montserrat', verdana, sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  padding-top: 15vh;
  padding-bottom: 15px;
  margin: 0;
}

.welcome-box h1 {
  color: #98BBA5;
  font-size: 300%;
  font-family: 'Montserrat', verdana, sans-serif;
  text-align: center;
  letter-spacing: 0.5px;
  margin-top: 0.5%;
  margin-bottom: 0%;
}

.me-image-box {
  padding-top: 0%;
  padding-bottom: 4%;
  width: 350px;

  /*Align the picture in the center*/
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.me-image img{
  /*Add filter to the profile image and set width*/
  filter: sepia(40%);
  width: 40%;
}

.img-width {
  width: 300px;
}


.image-padding-top {
  padding-top: 10vh;
}

.connect-logos {
  width: 30px;
  height: 30px;
}

.rounded-logo {
  border-radius: 10%;
}


a:nth-child(1)[class="link-icon"]:after {
  content: "";
  background-image: url("images/External_link.png");
  background-size: 100% 100%;
  display: inline-block;
  filter: invert(77%) sepia(0%) saturate(191%) hue-rotate(149deg) brightness(95%) contrast(71%);
  height: 9px;
  width: 9px;
  position:relative;
  padding-left: 0%;
  margin: 0 0 0px 1.5px;
}

.first-section {
  display: table;
  width: 350px;
  height: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/*Display text vertically centered aligned*/
.first-section div {
  display: table-cell;
  vertical-align:middle;
}

.introduction-outer {
  background-color: #000;
}

.introduction p {
  color: #fff;
}

.collaboration {
  padding-top: 1%;
  padding-bottom: 4%;
}

p {
  color:#A9A9A9;
  font-size:90%;
  font-family: 'Montserrat', verdana, sans-serif;
  /* font-weight: 500; */
}

hr {
  height: 2px;
  width: 120px;
  background-color: #98BBA5;
  border: 1px solid #98BBA5;
  border-radius: 5px;
}

.projects-listing-heading {
  margin-bottom: 4%;
}

.projects-listing-heading h2 {
  color: #98BBA5;
  font-size: 150%;
  font-family: 'Montserrat', verdana, sans-serif;
  text-align: center;
}

.projects-heading-margin {
  margin: 15vh 0 10vh 0;
}

.top-padding {
  padding-top: 15vh;
}

.group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20% 0 0 0; /* Add padding between projects when displayed on smaller screens */
}

.item-right {
  /*Minor vertical margin between project image and text on smaller screens*/
  margin: 1% 5% 1% 5%;
}

.item-right p {
  text-align: center;
}

.item-right h2 {
  text-align: center;
  color: #98BBA5;
  font-size: 130%;
  font-family: 'Montserrat', verdana, sans-serif;
}

.item-left {
  /*Minor vertical margin between project image and text on smaller screens*/
  margin: 1% 5% 1% 5%;
}

.item-left img {
  border-radius: 10px;
  width: 100%;
  height: 300px;
}

.item-left-logo img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.image-width img {
  max-width: 480px;
}

.footer {
  padding: 1% 0 2% 5%;
  font-size: 80%;
}

.connect-links-box {
  padding-bottom: 2%;
  width: 350px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 90%;
  font-family: 'Montserrat', verdana, sans-serif;
}

.connect-links-box a {
  padding: 0px 15px 0px 15px;
}

a:link    {color: #A9A9A9; font-weight: 600; text-decoration: none}
a:visited {color: #A9A9A9;}
a:hover   {color: #98BBA5;}
a:active  {color: #A9A9A9;}



.window-height {
  height: 100vh;
}

.connect-height {
  height: 100vh;
}


#center-align {
  display: flex;
  align-items:center;
}


/* A billion taxi cabs CSS */
.project-header {
  display: flex;
  justify-content: flex-start;
  height: 60px;
  width: 100vw;
}

.project-header-inner {
  width: 100%;
  margin-left: 20px;
}

.project-header-inner a {
  font-size: 100%;
  font-family: 'Montserrat', verdana, sans-serif;
}

.taxis-outer {
  display: flex;
  align-content: center;
  justify-content: center;
  height: auto;
  width: 100vw;
}

.taxis-inner {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  width: 90vw;
  height: auto;
  margin-top: 0%;
}

.project_h1 {
  font-weight: 600;
  font-size: 170%;
  font-family: 'Montserrat', verdana, sans-serif;
}

.taxis-inner p, li {
  line-height: 150%;
  font-size: 120%;
  color: black;
  font-family:   serif;
}

.taxis-inner h2 {
  font-size: 140%;
  font-weight: 600;
  font-family: 'Montserrat', verdana, sans-serif;
}

.taxis-inner h3 {
  font-size: 100%;
  font-weight: 600;
  font-family: 'Montserrat', verdana, sans-serif;
}

.full-image {
  width: 100%;
}

.images-div {
  margin: 0 auto;
  text-align: center;
  width: 100%
}

.figure-caption {
  text-align: center;
  font-size: 80%;
  font-family: 'Montserrat', verdana, sans-serif;
  margin-top: 10px;
}

.figure-specs {
  margin: 20px 0px 20px 0px;
}

.quote-div-outer {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 100%;
}

.quote-div-inner {
  width: 80%;
}

.quote-text p {
  font-size: 140%;
  font-family: 'Montserrat', verdana, sans-serif;
}

.top-margin-h2 {
  margin-top: 12%;
}

.top-margin-h3 {
  margin-top: 8%;
  margin-bottom: 0%;
}

.inline-code {
  background-color: #F1F3F5;
  padding: 0px 3px;
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  font-size: 80%;
  border-radius: 2px;
}

.li-space li {
  padding: 6px 0;
}

.bottom-space {
  margin-bottom: 30%;
}

.rounded-corners {
  border-radius: 10px;
}

/* p.lighter-text {
  color: grey;
} */









/* Table CSS */
.tg {
  border-collapse:collapse;
  border-spacing:0;
}

.tg td {
  border-color:black;
  border-style:solid;
  border-width:2px;
  font-family:Arial, sans-serif;
  font-size:14px;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.tg th {
  border-color:black;
  border-style:solid;
  border-width:2px;
  font-family:Arial, sans-serif;
  font-size:14px;
  font-weight:normal;
  overflow:hidden;
  padding:10px 5px;
  word-break:normal;
}

.no-border th:nth-child(1){
  border-width: 0px;
}

.tg .tg-cly1 {
  text-align:left;
  vertical-align:middle
}

.tg .tg-yla0 {
  font-weight:bold;
  text-align:left;
  vertical-align:middle
}
/* End Table CSS */
















 /* Specifications for when window width is larger than 800px */
@media all and (min-width: 800px) {

  .group {
    flex-direction: row;
    padding: 0;
  }

  .welcome-box h3 {
    padding-top: 25vh;
  }

  .item-right {
    flex: 1.5;
    margin: 3% 20% 3% 1%;
  }

  .item-right p {
    text-align: left;
  }

  .item-right h2 {
    text-align: left;
  }

  .item-left {
    flex: 1.5;
    margin: 3% 50px 3% 20%;
    justify-content: center;
  }

  .item-left img {
    border-radius: 10px;
    max-width: 400px;
    min-width: 250px;
    height: 300px;
  }

  .item-left-logo {
    justify-content: center;
  }

  .item-left-logo img {
    border-radius: 50%;
    width: 250px;
    height: 250px;
  }

  /* Center the image div container */
  #center-container {
    display: flex;
    align-items: center;
  }

  .introduction p {
    font-size: 100%;
    line-height: 22px;
    width: 600px;
  }

  .connect-height {
    height: 90vh;
  }

  .projects-heading-margin {
    margin: 20vh 0 20vh 0;
  }


  /* A billion taxi cabs CSS */
  .project-header-inner a {
    font-size: 120%;
  }

  .taxis-inner {
    width: 700px;
    margin-top: 2%;
  }

  .project_h1 {
    font-weight: 600;
    font-size: 200%;
    font-family: 'Montserrat', verdana, sans-serif;
  }

  .taxis-inner p, li {
    line-height: 200%;
    font-size: 130%;
  }

  .taxis-inner h2 {
    font-size: 170%;
  }
  
  .taxis-inner h3 {
    font-size: 120%;
  }

  .images-div {
    width: 80%
  }

  /* .taxis-inner.images-div-smaller {
    background-color: lime;
    width: 60%;
  } */

}




/* Specifications for when window height is lower than 500px */
@media all and (max-height: 500px) {

  .welcome-box h3 {
    padding-top: 10vh;
  }
}




/*Display Copyright content only on wider screens such as Desktops*/
#content-mobile {display: none;
}
@media (max-width: 800px) {
  #content-desktop {
    display:none;
  }
  #content-mobile {
    display: block;
  }
}





